@use '../variables' as *;
@use '../mixins' as *;

.header {
    @include flex-between;
    gap: 40px;
    margin-top: 60px;

    &__logo {
        max-width: 220px;
        transition: 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__nav {
        flex: 1;
    }

    &__nav-list {
        @include flex-end;
        list-style-type: none;
        gap: 40px;
    }

    &__nav-item {
        font-size: 20px;
    }

    &__nav-link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -20%;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: var(--color-green);
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__burger-button {
        background-color: inherit;
        border: none;
        font-size: 30px;
        margin-left: auto;
        align-self: center;
        padding-bottom: 2px;
    }

    .button-transparent {
        background-color: var(--color-main);
        color: var(--color-dark);
        transition: 0.3s ease;

        &:hover {
            background-color: var(--color-green);
        }
    }

    .theme-switcher {
        @include flex-center;
        flex-direction: column;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 60px;
            border: 1px solid var(--color-dark);
            border-radius: var(--border-radius-inputs);
            z-index: -1;
        }

        &__btn {
            @include flex-center;
            width: 30px;
            height: 30px;
            font-size: 20px;
            background: none;
            border: none;
            cursor: pointer;

            &.active {
                background-color: var(--color-green);
                border-radius: var(--border-radius-inputs);
            }
        }
    }
}

.welcome {
    padding-block: 70px 104px;

    &__body {
        @include flex-between;
        column-gap: 30px;
    }

    &__info {
        @include flex-start;

        flex-direction: column;
        max-width: 531px;
        row-gap: 35px;

        .button {
            align-self: start;
        }
    }

    svg {
        overflow: visible;
        max-width: 600px;
        max-height: 515px;
    }
}

.welcome-footer {
    &__list {
        @include flex-between;

        &-icon {
            filter: grayscale(100%);
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}
