@use "./media" as *;
@use "./mixins" as *;
@use "./variables" as *;
@use "./fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-regular);
    color: var(--color-text-black);
    background-color: var(--color-main);
    line-height: 1.28;
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 100px;

    @include mobile {
        padding-inline: 20px;
    }
}

h1 {
    @include adaptiv-text(60, 43);
}
h2 {
    @include adaptiv-text(40, 36);
}
h3 {
    @include adaptiv-text(30, 26);
}
h4 {
    @include adaptiv-text(20, 18);
}

p {
    @include adaptiv-text(18, 16);
    font-family: var(--font-regular);
}

a {
    @include non-decoration;
}

li {
    @include non-decoration;
}

.button {
    padding: 20px 35px;
    border-radius: var(--border-radius-inputs);
    font-size: 20px;
    color: var(--color-main);
    background-color: var(--color-dark);
    font-family: var(--font-regular);
    border-color: var(--color-dark);
    transition: 0.3s ease;
    white-space: nowrap;
}

.button:hover {
    color: var(--color-dark);
    background-color: var(--color-green);
}

.green-bg {
    border: 1px solid var(--color-green);
    border-radius: 7px;
    background-color: var(--color-green);
    padding: 0 7px;
}

.white-bg {
    border: 1px solid var(--color-main);
    border-radius: 7px;
    background-color: var(--color-main);
    padding: 0 7px;
}

.green-bg-card {
    background-color: var(--color-green) !important;
}

.dark-bg-card {
    background-color: var(--color-dark) !important;
}
