:root {
    --color-green: #b9ff66;
    --color-dark: #191a23;
    --color-gray: #f3f3f3;
    --color-main: #ffffff;
    --color-text-black: #000000;

    --font-size-20px: 20px;

    --border-large: 1px solid var(--color-dark);
    --border-radius-45px: 45px;
    --border-radius-inputs: 14px;

    --font-medium: "Space Grotesk-Medium", sans-serif;
    --font-regular: "Space Grotesk-Regular", sans-serif;
}
