<footer id="footer" class="footer container">
    <div class="footer-info">
        <div class="footer__nav">
            <a href="index.html" class="footer__nav-logo logo"><img src="./assets/images/footer/Logo-footer.svg"
                    alt="Positivus"></a>
            <nav class="footer__nav-panel">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a href="about.html" class="footer__nav-link">About us</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#services" class="footer__nav-link">Services</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#studies" class="footer__nav-link">Use Cases</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#contact" class="footer__nav-link">Pricing</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#testimonials" class="footer__nav-link">Blog</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__nav-icons">
                <ul class="icon__list">
                    <li class="icon__list-item">
                        <a href="https://vk.com" class="icon__list-link" target="_blank" title="VK">
                            <img src="./assets/images/footer/VK.svg" alt="Vk">
                            <span class="visually-hidden">Vk</span>
                        </a>
                    </li>
                    <li class="icon__list-item">
                        <a href="https://rutube.ru" class="icon__list-link" target="_blank" title="RUTUBE">
                            <img src="./assets/images/footer/rutube.svg" alt="RUTUBE">
                            <span class="visually-hidden">RUTUBE</span>
                        </a>
                    </li>
                    <li class="icon__list-item">
                        <a href="https://ok.ru" class="icon__list-link" target="_blank" title="Одноклассники">
                            <img src="./assets/images/footer/odnoklassniki.svg" alt="Одноклассники">
                            <span class="visually-hidden">Одноклассники</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__body">
            <div class="footer__contacts">
                <h4 class="footer__contacts-title green-bg">Contact us:</h4>
                <div class="footer__contacts-address">
                    <p>Email: info@positivus.com</p>
                    <p>Phone: 555-567-8901</p>
                    <p>Address: 1234 Main St <br>Moonstone City, Stardust State 12345</p>
                </div>
            </div>

            <form class="footer__form">
                <input type="email" class="footer__form-input" placeholder="Email">
                <button type="submit" class="footer__form-button button">Subscribe to news</button>
            </form>
        </div>
        <div class="footer__copyright">
            <p>© 2023 Positivus. All Rights Reserved.</p>
            <a href="index.html" class="footer__privacy footer__nav-item">Privacy Policy</a>
        </div>
    </div>
</footer>