<header class="header container">
    <a href="index.html" class="header__logo logo">
        <img src="assets/images/logo.svg" alt="Positivus" class="logo__image" width="220" height="36">
    </a>

    <nav class="header__nav hidden-tablet">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="index.html" class="header__nav-link">Main</a>
            </li>
            <li class="header__nav-item">
                <a href="about.html" class="header__nav-link">About us</a>
            </li>
            <li class="header__nav-item">
                <a href="#services" class="header__nav-link">Services</a>
            </li>
            <li class="header__nav-item">
                <a href="#studies" class="header__nav-link">Use Cases</a>
            </li>
            <li class="header__nav-item">
                <a href="#contact" class="header__nav-link">Pricing</a>
            </li>
            <li class="header__nav-item">
                <a href="#testimonials" class="header__nav-link">Blog</a>
            </li>
        </ul>
    </nav>
    <button class="button header__button button-transparent hidden-tablet">Request a quote</button>
    <button class="header__burger-button burger-button visible-tablet" type="button"
        onclick="mobileOverlay.showModal()">☰
        <span class="visually-hidden">Open navigation menu</span>
    </button>
    <div class="theme-switcher">
        <button class="theme-switcher__btn active" data-theme="light">
            ☀️
        </button>
        <button class="theme-switcher__btn" data-theme="dark">
            🌙
        </button>
    </div>
</header>