<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <title>Positivus</title>
</head>
<body>

    <%= require('./partials/header.html') %>

    <main>
        <%= require('./sections/welcome.html') %>
        <%= require('./sections/welcome-footer.html') %>
        <%= require('./sections/services.html') %>
        <%= require('./sections/studies.html') %>
        <%= require('./sections/working.html') %>
        <%= require('./sections/team.html') %>
        <%= require('./sections/testimonials.html') %>
        <%= require('./sections/contact.html') %>
    </main>

    <%= require('./partials/footer.html') %>
    <%= require('./partials/mobile-menu.html') %>
</body>
</html>